name: Run Tests

on:
    push:
      branches: [ "master" ]
    pull_request:
      branches: [ "develop", "master" ]

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/checkout@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      - name: Grand Execute permissions
        run : chmod +x gradlew

      - name: Build and test
        run: ./gradlew testDebugUnitTest

      - name: Android Tests Reporter
        uses: FlickerSoul/android-test-report-actions@v1.3.1